body {
    background-color: red;
    margin: 0;
    font-family: 'Arial', serif;
}

#loginbody {
    background-color: aqua;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: white;
    width: 1920px;
    margin: 0 auto;
    min-height: 1080px;
    padding: 32px;
}

table {
    width: 100%;
}

form div {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

tr {
    text-align: center;
}

td {
    text-align: left;
}

th {
    text-align: left;
}

td.last {
    text-align: left;
}

th.last {
    text-align: left;

}

#logincontent {
    position: fixed;
    left: 750px;
    top: 350px;
}



